background_script.js
content_script.js
hdfc_pay.js
irctc_upi.js
main.js
manifest.json
new-tab-icon.png
paytm_upi.js
PaytmVPA.js
phonepe_upi.js
PhonePeQR.js
PhonePeVPA.js
popup.html
popup.js
rail_16.png
rail_32.png
rail_48.png
rail_128.png
secure_hdfc.js
UpiVPAPay.js